@import url(root.css);

@media(max-width:1200px){
    body{
        background: url(../img/foto-de-show-smartphone.jpg);
    }
    .conteudo{
        position: relative;
        left: 0;
        top: 0;
        margin: 0 auto;
        transform: none;
        padding: 5rem 0 0 0;
        margin: 0 1rem 0 1rem;
    }
    #formulario-titulo{
        font-size: 1.225rem;
    }
    label{
        font-size: 0.8rem;
    }
    #botaoEnviar{
        width: 100%;
        padding: 0.5rem;
        font-size: 0.7rem;
    }
    footer{
        position: absolute;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .creditos{
        margin: 0;
        border-radius: 0px;
        padding: 1rem 0 1rem;
        width: 100%;
        justify-content: center;
    }
    #resultado{
        font-size: 0.8rem;
    }
}